{% extends 'base.html' %}

{% block head %}
    <title>Logout</title>
{% endblock head %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="text-center">
            <h2 class="fs-1">Confirm Logout ?</h2>
            <form action="." method="post" style="display: inline;">
                {% csrf_token %}
                <button class="me-4 mt-3 btn btn-outline-success" type="submit">
                    Logout
                </button>
            </form>
            <button class="ms-4 mt-3 btn btn-outline-danger" onclick="history.back()">
                Cancel
            </button>
        </div>
    {% else %}
        <div class="text-center">
            <p class="fs-3 pt-4">Not Logged In! Please <a href="/login/">Login!</a></p>
        </div>
    {% endif %}

{% endblock content %}