{% extends 'base.html' %}

{% block head %}
    <title>Confirm | Delete</title>
    <style>
        form{
            display: inline;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="text-center">
        <form method="post" action="{{ article.get_delete_url }}">
            {% csrf_token %}
            <h3 class="mt-3">Confirm to delete {{ article.name | upper }} ?</h3>
            <button class="m-3 ps-3 pe-3 btn btn-outline-danger yes-btn" type="submit">Yes</button>
        </form>
        <button class="ps-3 pe-3 btn btn-outline-success no-btn" onclick="history.back()">No</button>
    </div>
{% endblock content %}