<nav class="navbar" style="background-color: #04aa6d">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'articles:home' %}" style="color: black; font-size: 30px;">Django Blog</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
            <span class="navbar-toggler-icon" style="color: black;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% if request.user.is_authenticated %}
            {% endif %}
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" style="color: black; font-size: 24px;">Welcome {{ request.user.username }}!</a>
                </li>
                <hr>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'articles:home' %}" style="color: black; font-size: 24px;">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles:create' %}" style="color: black; font-size: 24px;">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" style="color: black; font-size: 24px;">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color: black; font-size: 24px;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color: black; font-size: 24px;">Create Account!</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>